body{
background:#0b3d91;
color:white;
text-align:center;
font-family:Arial;
}

#ocean{
width:800px;
height:400px;
margin:auto;
background:#1ca3ec;
position:relative;
border-radius:10px;
overflow:hidden;
}

.trash{
width:50px;
position:absolute;
cursor:pointer;
}

#healthContainer{
width:300px;
height:25px;
background:white;
margin:auto;
}

#healthBar{
height:25px;
width:20%;
background:#2ecc71;
}